
/**** ASSETS & Defaults ****/

	@import url(http://fonts.googleapis.com/css?family=UnifrakturCook:700);
	@font-face {font-family: Brandon; src: url('');}

	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

/**** PAGE ****/
	html {
		background: #b63736;
		/**background-image: url('http://freqn.aws.af.cm/images/star1.png');*/
	}
	header h2 {
		color: #fff2cb;
		text-align: center;
		font-size: 75px;
		margin: 0;
		font-family: 'UnifrakturCook', cursive;
	}
	#copyright p {
		margin: -140px auto;
    text-align: center;
		max-width: 80%;
		font-size: 24px;
  }
	.fa-info {
		color: #7c0000;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

/*================ RESPONSIVE ===================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.wrapper {
		margin: 5% auto;
		width: 100%;
	}
	section {
		min-height: 200px;
	}
	input {
		padding: 0;
		display: block;
		margin: 10px auto;
		width: 280px;
		height: 40px;
		font-size: 24px;
		border: none;
		border-radius: 5px;
		color: #223333;
		text-align: center;
		background: #FFFDBE;
		}
	.result {
		width: 280px;
		height: 40px;
		margin: 10px auto;
		font-size: 24px;
		border-radius: 5px;
		background: #FFA500;
	}
	.result:first-child{
		margin-top: 30px;
	}
	.result div:nth-child(2){
		border-radius: 0 5px 5px 0;
	}
	.label {
		float:left;
		width: 45%;
		background: #223333;
		height: 100%;
		padding: 0;
		color: #fff2cb;
		border-radius: 5px 0 0 5px;
	}
	.label p, .value p {
		clear:both;
		text-align: center;
		margin-top: 5px;
	}
	.value {
		float: right;
		width: 55%;
		height: 100%;
	}
	.value p {
		color: #223333;
	}
	#shipped {
	}
}
@media only screen and (min-height : 667px){


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.wrapper {
		margin: 8% auto;
	}
	input {
		height: 60px;
		width: 300px;
		font-size: 30px;
	}
	.result {
		height: 60px;
		width: 300px;
		font-size: 30px;
	}
	.label p, .value p {
		margin-top: 12px;
	}
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.wrapper {
		margin: 4% auto;
	}
	input {
		height: 65px;
		font-size: 30px;
	}
	.result {
		height: 65px;
		font-size: 30px;
	}
	.label p, .value p {
		margin-top: 12px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
