
/**** ASSETS ****/

	@import url(http://fonts.googleapis.com/css?family=Balthazar);
	@import url(http://fonts.googleapis.com/css?family=Lora);
	@import url(http://fonts.googleapis.com/css?family=UnifrakturCook:700);

	@font-face {font-family: Brandon; src: url('');}


/**** PAGE ****/
	html {
		background: #b63736;
		/**background-image: url('http://freqn.aws.af.cm/images/star1.png');*/
	}
	header h2 {
		color: #fff2cb;
		text-align: center;
		font-size: 75px;
		margin: 0;
		font-family: 'UnifrakturCook', cursive;
	}
	section {display:inline -block}
	footer a {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	#copyright p {
		margin: 0 auto;
    text-align: center;
		max-width: 80%;
		font-size: 24px;
  }
	.fa-info {
		color: #7c0000;
	}
	.back {
		margin: 0 auto;
		max-width: 100%;
		height:290px;
		background: #b63736;
		text-align: center;
	}
	.back img {
		width: 280px;
		margin-top: 30px;
		border-radius: 5px;
	}

/*================ RESPONSIVE ===================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.wrapper {
		margin: 15% auto;
		width: 100vw;
	}
	input {
		padding: 0;
		display: block;
		margin: 10px auto;
		width: 280px;
		height: 40px;
		font-size: 24px;
		border: none;
		border-radius: 5px;
		color: #223333;
		text-align: center;
		background: #FFFDBE;
		}
	.result {
		width: 280px;
		height: 40px;
		margin: 10px auto;
		font-size: 24px;
		border-radius: 5px;
		background: #FFA500;
	}
	.result:first-child{
		margin-top: 30px;
	}
	.result div:nth-child(2){
		border-radius: 0 5px 5px 0;
	}
	.label {
		float:left;
		width: 45%;
		background: #223333;
		height: 100%;
		padding: 0;
		color: #fff2cb;
		border-radius: 5px 0 0 5px;
	}
	.label p, .value p {
		clear:both;
		text-align: center;
		margin-top: 5px;
	}
	.value {
		float: right;
		width: 55%;
		height: 100%;
	}
	.value p {
		color: #223333;
	}
	#shipped {
	}
}
@media only screen and (min-height : 667px){


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.wrapper {
		margin: 8% auto;
	}
	input {
		height: 60px;
		width: 300px;
		font-size: 30px;
	}
	.result {
		height: 60px;
		width: 300px;
		font-size: 30px;
	}
	.label p, .value p {
		margin-top: 12px;
	}
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.wrapper {
		margin: 4% auto;
	}
	input {
		height: 65px;
		font-size: 30px;
	}
	.result {
		height: 65px;
		font-size: 30px;
	}
	.label p, .value p {
		margin-top: 12px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

#iphone_install {
  z-index: 999;
  position: fixed;
  bottom: -500px;
  left: 0;
  width: 100%;
  height: 610px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.15s linear, opacity 0.15s linear;
}
#iphone_install .top {
  height: 110px;
  line-height: 110px;
  text-align: center;
  background-color: #111;
  font-size: 42px;
  color: #FFF;
  margin-bottom: 50px;
}
#iphone_install img.share {
  display: inline-block;
  position: relative;
  margin: 0 15px;
  top: 10px;
}
#iphone_install p {
  margin: 30px 60px;
  text-align: center;
  font-size: 52px;
}
#iphone_install p.arrow {
  position: relative;
  left: 12px;
  top: -40px;
  font-size: 92px;
}
#iphone_install.hidden {
  opacity: 0;
  pointer-events: none;
}
#iphone_install.open {
  -webkit-transform: translate3d(0, -500px, 0);
}
#mobile_link {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 110px;
  line-height: 110px;
  width: 100%;
  text-align: center;
  background-color: #111;
  font-size: 42px;
}
#mobile_link a {
  color: #FFF;
  text-decoration: none;
}
